*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Arial', sans-serif;
    background:linear-gradient(to right,#33ccff 0%,#ff99cc 100%);
    color:#333;
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
}
.container{
    background-color:#e6e1e1;
    padding:20px;
    border-radius:5px;
     box-shadow:0 0 10px rgba(0,0,0,0.1);
     width:500px;
}
h1,h2{
    text-align:center;
}

.expense-form{
    display:flex;
    margin-bottom:18px;
    justify-content: space-between;
}
.expense-form input{
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}
.expense-form button{
    padding:10px;
    background-color:#28a745;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;

}
.expense-form button:hover{
    background-color:#218838;
}
.expense-list ul{
    list-style-type:none;
}
.expense-list li{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.expense-list li button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.expense-list li button:hover {
    background-color: #c82333;
}
